@use "../../../libraries/partials/partials" as *;

.a-button {
  align-items: center;
  display: flex;
  gap: 10px;
  padding: rem(10px) rem(20px);
  width: fit-content;

  @include font(18);
  color: var(--demo-color-white);
  background-color: var(--demo-color-blue);
  font-family: var(--demo-font-sans);
  text-decoration: none;
  border-radius: 4px;
}

.a-button--primary {
  background-color: var(--demo-color-blue);
}

.a-button--secondary {
  background-color: var(--demo-color-orange);
}

.a-button--large {
  padding: rem(20px) rem(40px);
}


