//
// Settings - Typography
//
// - 01 - Imports
// - 02 - Families
// - 03 - Sizes
// - 04 - Weights
// - 05 - Line Heights
// - 06 - Body
// - 07 - Headings
// - 08 - Links
// - 09 - Bold
// - 10 - Paragraphs
// - 11 - Blockquote
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../partials/functions/calculations' as functions-calculations;
@use '../../partials/mixins/breakpoints' as mixins-breakpoints;
@use '../../partials/mixins/typography' as mixins-typography;




//------------------------------------
//  02 - Families
//  A mixin is created and than instantly called here so that we can utilize the same styles within other
//  stylesheets, like the `wysiwyg.scss` file.
//------------------------------------

@mixin typography-families() {
  :root {
    --demo-font-mono:    monospace;
    --demo-font-sans:    sans-serif;
    --demo-font-serif:   serif;
  }
}

@include typography-families();




//------------------------------------
//  03 - Sizes
//  A mixin is created and than instantly called here so that we can utilize the same styles within other
//  stylesheets, like the `wysiwyg.scss` file.
//------------------------------------

@mixin typography-sizes() {
  :root {
    --demo-font-size-14: #{functions-calculations.rem(14px)};
    --demo-font-size-16: #{functions-calculations.rem(16px)};
    --demo-font-size-18: #{functions-calculations.rem(18px)};
    --demo-font-size-24: #{functions-calculations.rem(20px)};
    --demo-font-size-32: #{functions-calculations.rem(26px)};
    --demo-font-size-48: #{functions-calculations.rem(32px)};
    --demo-font-size-56: #{functions-calculations.rem(44px)};
    --demo-font-size-90: #{functions-calculations.rem(72px)};

    @include mixins-breakpoints.bp-min(large) {
      --demo-font-size-24: #{functions-calculations.rem(24px)};
      --demo-font-size-32: #{functions-calculations.rem(32px)};
      --demo-font-size-48: #{functions-calculations.rem(48px)};
      --demo-font-size-56: #{functions-calculations.rem(56px)};
      --demo-font-size-90: #{functions-calculations.rem(90px)};
    }
  }
}

@include typography-sizes();




//------------------------------------
//  04 - Weights
//  A mixin is created and than instantly called here so that we can utilize the same styles within other
//  stylesheets, like the `wysiwyg.scss` file.
//------------------------------------

@mixin typography-weights() {
  :root {
    --demo-font-weight-thin:     100;
    --demo-font-weight-light:    300;
    --demo-font-weight-regular:  400;
    --demo-font-weight-book:     400;
    --demo-font-weight-medium:   500;
    --demo-font-weight-semibold: 600;
    --demo-font-weight-bold:     700;
  }
}

@include typography-weights;




//------------------------------------
//  05 - Line Heights
//  A mixin is created and than instantly called here so that we can utilize the same styles within other
//  stylesheets, like the `wysiwyg.scss` file.
//------------------------------------

@mixin typography-line-heights() {
  :root {
    --demo-line-height-default:  1.6;
    --demo-line-height-heading:  1.2;
  }
}

@include typography-line-heights();




//------------------------------------
//  06 - Body
//  A mixin is created and than instantly called here so that we can utilize the same styles within other
//  stylesheets, like the `wysiwyg.scss` file.
//------------------------------------

@mixin typography-body() {
  body {
    @include mixins-typography.body-18();
    color: var(--demo-color-black);
  }
}

@include typography-body();




//------------------------------------
//  07 - Headings
//  A mixin is created and than instantly called here so that we can utilize the same styles within other
//  stylesheets, like the `wysiwyg.scss` file.
//------------------------------------

@mixin typography-headings() {
  h1, h2, h3, h4, h5 {
    color: var(--demo-color-black);
    margin-bottom: 0;

    > a {
      text-decoration: none;
    }

    + p {
      margin-top: 16px;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  h1 {
    @include mixins-typography.heading-01();
  }

  h2 {
    @include mixins-typography.heading-02();
  }

  h3 {
    @include mixins-typography.heading-03();
  }

  h4 {
    @include mixins-typography.heading-04();
  }

  h5 {
    @include mixins-typography.heading-05();
  }

  h6 {
    @include mixins-typography.heading-06();
  }
}

@include typography-headings();




//------------------------------------
//  08 - Links
//  A mixin is created and than instantly called here so that we can utilize the same styles within other
//  stylesheets, like the `wysiwyg.scss` file.
//------------------------------------

@mixin typography-links() {
  a {
    color: var(--demo-color-primary);
    text-decoration: underline;

    &:hover,
    &:focus {
      color: var(--demo-color-secondary);
      text-decoration: none;
    }
  }
}

@include typography-links();




//------------------------------------
//  09 - Bold
//  A mixin is created and than instantly called here so that we can utilize the same styles within other
//  stylesheets, like the `wysiwyg.scss` file.
//------------------------------------

@mixin typography-bold() {
  strong,
  b {
    font-weight: var(--demo-font-weight-bold);
  }
}

@include typography-bold();




//------------------------------------
//  10 - Paragraphs
//  A mixin is created and than instantly called here so that we can utilize the same styles within other
//  stylesheets, like the `wysiwyg.scss` file.
//------------------------------------

@mixin typography-paragraphs() {
  p:not(:first-child) {
    margin: 16px 0 0;
  }
}

@include typography-paragraphs();




//------------------------------------
//  11 - Blockquote
//  A mixin is created and than instantly called here so that we can utilize the same styles within other
//  stylesheets, like the `wysiwyg.scss` file.
//------------------------------------

@mixin typography-blockquote() {
  blockquote {
    text-indent: -0.4em;
    font-style: italic;
  }

  blockquote:not(:first-child) {
    margin: 16px 0 0;
  }
}

@include typography-blockquote();
