.c-link {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  gap: 10px;
  padding: 0.625rem 1.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: var(--demo-font-size-18);
  line-height: var(--demo-line-height-default);
  color: var(--demo-color-white);
  font-family: var(--demo-font-sans);
  text-decoration: none;
}

.c-link__icon svg {
  fill: var(--demo-color-black);
}