.c-menu--navigation ul[data-depth="0"] {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  margin: 0;
  padding: 0;
  width: -moz-fit-content;
  width: fit-content;
}
.c-menu--navigation ul[data-depth="0"] > li {
  list-style: none;
}
.c-menu--navigation ul[data-depth="0"] li {
  position: relative;
}
@media (max-width: 768.98px) {
  .c-menu--navigation ul[data-depth="0"] {
    flex-flow: column;
  }
}
@media (min-width: 769px) {
  .c-menu--navigation ul[data-depth="0"] {
    align-items: center;
    gap: 22px;
    margin: 42px 0;
  }
}
.c-menu--navigation ul[data-depth="1"] {
  margin: 0;
  padding: 0;
}
.c-menu--navigation ul[data-depth="1"] > li {
  list-style: none;
}
@media (min-width: 769px) {
  .c-menu--navigation ul[data-depth="1"] {
    position: absolute;
    background: rgb(255, 255, 255);
    border: 1px solid grey;
    width: 100%;
  }
}
.c-menu--navigation ul[data-depth="1"] .menu__item {
  margin: 0;
  padding: 12px 0;
}
.c-menu--navigation ul[data-depth="1"] .menu__item:focus, .c-menu--navigation ul[data-depth="1"] .menu__item:hover {
  cursor: pointer;
  text-decoration: underline;
}
.c-menu--navigation ul:not([data-depth="0"]) {
  opacity: 0;
  visibility: hidden;
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 1s;
}
.c-menu--navigation ul:not([data-depth="0"]).open {
  opacity: 1;
  visibility: visible;
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 1s;
}
.c-menu--navigation ul[data-depth="1"] {
  display: none;
}
.c-menu--navigation ul[data-depth="1"].open {
  display: block;
}
.c-menu--navigation ul[data-depth="1"] ul {
  display: none;
}
.c-menu--navigation ul[data-depth="1"] ul.open {
  display: block;
}